@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer components {
  textarea,
  select {
    @apply h-full text-sm w-full font-light text-gray-500 focus:outline-none block appearance-none border border-black py-3 px-4 resize-none;
  }
  textarea {
    @apply min-h-32;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* Auth Image */
.auth-image {
  background: url('../../public/auth-image.png') ;
  /* background: url('/auth-image.png') no-repeat center center/cover; */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
